@import "color.scss";
@import "layout.scss";
@import "font.scss";

.editor-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $headerHeight;
  padding: 0 12px;
  background: $BGColor;

  .editor-header-text {
    font-family: $defaultFont;
    color: white;
    font-size: 1.2rem;
  }
}
