@charset "utf-8";

@import "reset.scss";
@import "canvas.scss";
@import "header.scss";
@import "component.scss";
@import "persister";
@import "menuBar.scss";
@import "persister.scss";
@import "util.scss";
@import "font.scss";
@import "color.scss";
@import "layout.scss";
@import "responsive.scss";

body {
  font-family: $defaultFont;
  background: $BGColor;
}

#editor-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $modalWidth;
  height: $modalHeight;
  background: $modalBGColor;
  transform: translate(-50%, -50%);
  box-shadow: 15px 15px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

#mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 2em;
  line-height: 1.2;
  transform: translate(-50%, -50%);
}
